In [1]:
import numpy as np
import pandas as pd

In [14]:
dic= { "Name": ["Ram", "Shyam", "Sameer", "Kajal"],
      "Roll no": [1,2,3,4],
    "Grades": ["A", "B", "C", "С"],
"Email":["abc@xyz.com","def@xyz.com","ghi@xyz.com","jkl@xyz.com"]}
dic

{'Name': ['Ram', 'Shyam', 'Sameer', 'Kajal'],
 'Roll no': [1, 2, 3, 4],
 'Grades': ['A', 'B', 'C', 'С'],
 'Email': ['abc@xyz.com', 'def@xyz.com', 'ghi@xyz.com', 'jkl@xyz.com']}

In [21]:
df= pd.DataFrame(dic)
df

     Name  Roll no Grades        Email
0     Ram        1      A  abc@xyz.com
1   Shyam        2      B  def@xyz.com
2  Sameer        3      C  ghi@xyz.com
3   Kajal        4      С  jkl@xyz.com

In [22]:
df.head()

     Name  Roll no Grades        Email
0     Ram        1      A  abc@xyz.com
1   Shyam        2      B  def@xyz.com
2  Sameer        3      C  ghi@xyz.com
3   Kajal        4      С  jkl@xyz.com

In [23]:
df.head(2)

    Name  Roll no Grades        Email
0    Ram        1      A  abc@xyz.com
1  Shyam        2      B  def@xyz.com

In [24]:
df.describe()

        Roll no
count  4.000000
mean   2.500000
std    1.290994
min    1.000000
25%    1.750000
50%    2.500000
75%    3.250000
max    4.000000

In [25]:
df.tail(4)

     Name  Roll no Grades        Email
0     Ram        1      A  abc@xyz.com
1   Shyam        2      B  def@xyz.com
2  Sameer        3      C  ghi@xyz.com
3   Kajal        4      С  jkl@xyz.com

In [26]:
df.tail()

     Name  Roll no Grades        Email
0     Ram        1      A  abc@xyz.com
1   Shyam        2      B  def@xyz.com
2  Sameer        3      C  ghi@xyz.com
3   Kajal        4      С  jkl@xyz.com

In [27]:
df.head()

     Name  Roll no Grades        Email
0     Ram        1      A  abc@xyz.com
1   Shyam        2      B  def@xyz.com
2  Sameer        3      C  ghi@xyz.com
3   Kajal        4      С  jkl@xyz.com

In [31]:
cus =pd.read_csv("Customer Table Level 1.csv")
cus

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico D.F.,5021,Mexico
2,3,Antonio Moreno Taqueria,Antonio Moreno,Mexico D.F.,5023,Mexico
3,4,Around the Horn,Thomas Hardy,London,34626,UK
4,5,Berglunds snabbkp,Christina Berglund,Lulea,95822,Sweden
...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Resende,51849,Brazil
88,89,White Clover Markets,Karl Jablonski,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,Walla,56189,Poland

In [32]:
type (cus)

pandas.core.frame.DataFrame

In [35]:
type ( cus['CustomerID'] )

pandas.core.series.Series

In [37]:
cus.index

RangeIndex(start=0, stop=91, step=1)

In [39]:
cus.columns

Index(['CustomerID', 'Company Name', 'Costumer Name', 'City', 'PostalCode',
       'Country'],
      dtype='object')

In [40]:
cus.to_numpy()

array([[1, 'Alfreds Futterkiste', 'Maria Anders', 'Berlin', 12209,
        'Germany'],
       [2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo',
        'Mexico D.F.', 5021, 'Mexico'],
       [3, 'Antonio Moreno Taqueria', 'Antonio Moreno', 'Mexico D.F.',
        5023, 'Mexico'],
       [4, 'Around the Horn', 'Thomas Hardy', 'London', 34626, 'UK'],
       [5, 'Berglunds snabbkp', 'Christina Berglund', 'Lulea', 95822,
        'Sweden'],
       [6, 'Blauer See Delikatessen', 'Hanna Moos', 'Mannheim', 68306,
        'Germany'],
       [7, 'Blondel pere et fils', 'Frederique Citeaux', 'Strasbourg',
        67000, 'France'],
       [8, 'BOlido Comidas preparadas', 'Martin Sommer', 'Madrid', 28023,
        'Spain'],
       [9, 'Bon app', 'Laurence Lebihans', 'Marseille', 13008, 'France'],
       [10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', 'Tsawassen',
        254685, 'Canada'],
       [11, 'Bs Beverages', 'Victoria Ashworth', 'London', 13546, 'UK'],
       [12, 'Cactus Comidas para llevar', 'Patricio Simpson',
        'Buenos Aires', 1010, 'Argentina'],
       [13, 'Centro comercial Moctezuma', 'Francisco Chang',
        'Mexico D.F.', 5022, 'Mexico'],
       [14, 'Chop-suey Chinese', 'Yang Wang', 'Bern', 3012,
        'Switzerland'],
       [15, 'Comercio Mineiro', 'Pedro Afonso', 'Sao Paulo', 6565,
        'Brazil'],
       [16, 'Consolidated Holdings', 'Elizabeth Brown', 'London', 541684,
        'UK'],
       [17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Aachen', 52066,
        'Germany'],
       [18, 'Du monde entier', 'Janine Labrune', 'Nantes', 44000,
        'France'],
       [19, 'Eastern Connection', 'Ann Devon', 'London', 546, 'UK'],
       [20, 'Ernst Handel', 'Roland Mendel', 'Graz', 8010, 'Austria'],
       [21, 'Familia Arquibaldo', 'Aria Cruz', 'Sao Paulo', 4984,
        'Brazil'],
       [22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel',
        'Madrid', 28034, 'Spain'],
       [23, 'Folies gourmandes', 'Martine Rance', 'Lille', 59000,
        'France'],
       [24, 'Folk och fa HB', 'Maria Larsson', 'Bracke', 96825, 'Sweden'],
       [25, 'Frankenversand', 'Peter Franken', 'Mnchen', 80805,
        'Germany'],
       [26, 'France restauration', 'Carine Schmitt', 'Nantes', 44000,
        'France'],
       [27, 'Franchi S.p.A.', 'Paolo Accorti', 'Torino', 10100, 'Italy'],
       [28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Lisboa',
        1675, 'Portugal'],
       [29, 'Galeria del gastrOnomo', 'Eduardo Saavedra', 'Barcelona',
        8022, 'Spain'],
       [30, 'Godos Cocina Tipica', 'Jose Pedro Freyre', 'Sevilla', 41101,
        'Spain'],
       [31, 'Gourmet Lanchonetes', 'Andre Fonseca', 'Campinas', 76951,
        'Brazil'],
       [32, 'Great Lakes Food Market', 'Howard Snyder', 'Eugene', 97403,
        'USA'],
       [33, 'GROSELLA-Restaurante', 'Manuel Pereira', 'Caracas', 1081,
        'Venezuela'],
       [34, 'Hanari Carnes', 'Mario Pontes', 'Rio de Janeiro', 5454,
        'Brazil'],
       [35, 'HILARION-Abastos', 'Carlos Hernandez', 'San CristObal',
        5022, 'Venezuela'],
       [36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'Elgin',
        97827, 'USA'],
       [37, 'Hungry Owl All-Night Grocers', 'Patricia McKenna', 'Cork',
        18845, 'Ireland'],
       [38, 'Island Trading', 'Helen Bennett', 'Cowes', 84624, 'UK'],
       [39, 'Koniglich Essen', 'Philip Cramer', 'Brandenburg', 14776,
        'Germany'],
       [40, 'La corne dabondance', 'Daniel Tonini', 'Versailles', 78000,
        'France'],
       [41, 'La maison dAsie', 'Annette Roulet', 'Toulouse', 31000,
        'France'],
       [42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri',
        'Vancouver', 41562, 'Canada'],
       [43, 'Lazy K Kountry Store', 'John Steel', 'Walla Walla', 99362,
        'USA'],
       [44, 'Lehmanns Marktstand', 'Renate Messner', 'Frankfurt a.M.',
        60528, 'Germany'],
       [45, 'Lets Stop N Shop', 'Jaime Yorres', 'San Francisco', 94117,
        'USA'],
       [46, 'LILA-Supermercado', 'Carlos Gonzalez', 'Barquisimeto', 3508,
        'Venezuela'],
       [47, 'LINO-Delicateses', 'Felipe Izquierdo', 'I. de Margarita',
        4980, 'Venezuela'],
       [48, 'Lonesome Pine Restaurant', 'Fran Wilson', 'Portland', 97219,
        'USA'],
       [49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli',
        'Bergamo', 24100, 'Italy'],
       [50, 'Maison Dewey', 'Catherine Dewey', 'Bruxelles', 21365,
        'Belgium'],
       [51, 'Mere Paillarde', 'Jean Fresniere', 'Montreal', 69162,
        'Canada'],
       [52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Leipzig', 4179,
        'Germany'],
       [53, 'North/South', 'Simon Crowther', 'London', 196215, 'UK'],
       [54, 'Oceano Atlantico Ltda.', 'Yvonne Moncada', 'Buenos Aires',
        1010, 'Argentina'],
       [55, 'Old World Delicatessen', 'Rene Phillips', 'Anchorage',
        99508, 'USA'],
       [56, 'Ottilies Kaseladen', 'Henriette Pfalzheim', 'Koln', 50739,
        'Germany'],
       [57, 'Paris specialites', 'Marie Bertrand', 'Paris', 75012,
        'France'],
       [58, 'Pericles Comidas clasicas', 'Guillermo Fernandez',
        'Mexico D.F.', 5033, 'Mexico'],
       [59, 'Piccolo und mehr', 'Georg Pipps', 'Salzburg', 5020,
        'Austria'],
       [60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Lisboa',
        1756, 'Portugal'],
       [61, 'Que Delicia', 'Bernardo Batista', 'Rio de Janeiro', 816466,
        'Brazil'],
       [62, 'Queen Cozinha', 'Lucia Carvalho', 'Sao Paulo', 851306,
        'Brazil'],
       [63, 'QUICK-Stop', 'Horst Kloss', 'Cunewalde', 1307, 'Germany'],
       [64, 'Rancho grande', 'Sergio Gutierrez', 'Buenos Aires', 1010,
        'Argentina'],
       [65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', 'Albuquerque',
        87110, 'USA'],
       [66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Reggio Emilia',
        42100, 'Italy'],
       [67, 'Ricardo Adocicados', 'Janete Limeira', 'Rio de Janeiro',
        84646, 'Brazil'],
       [68, 'Richter Supermarkt', 'Michael Holz', 'Geneve', 1203,
        'Switzerland'],
       [69, 'Romero y tomillo', 'Alejandra Camino', 'Madrid', 28001,
        'Spain'],
       [70, 'Sante Gourmet', 'Jonas Bergulfsen', 'Stavern', 4110,
        'Norway'],
       [71, 'Save-a-lot Markets', 'Jose Pavarotti', 'Boise', 83720,
        'USA'],
       [72, 'Seven Seas Imports', 'Hari Kumar', 'London', 85114, 'UK'],
       [73, 'Simons bistro', 'Jytte Petersen', 'Kbenhavn', 1734,
        'Denmark'],
       [74, 'Specialites du monde', 'Dominique Perrier', 'Paris', 75016,
        'France'],
       [75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'Lander',
        82520, 'USA'],
       [76, 'Supremes delices', 'Pascale Cartrain', 'Charleroi', 21564,
        'Belgium'],
       [77, 'The Big Cheese', 'Liz Nixon', 'Portland', 97201, 'USA'],
       [78, 'The Cracker Box', 'Liu Wong', 'Butte', 59801, 'USA'],
       [79, 'Toms Spezialitaten', 'Karin Josephs', 'Münster', 44087,
        'Germany'],
       [80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Mexico D.F.',
        5033, 'Mexico'],
       [81, 'Tradicao Hipermercados', 'Anabela Domingues', 'Sao Paulo',
        51398, 'Brazil'],
       [82, 'Trails Head Gourmet Provisioners', 'Helvetius Nagy',
        'Kirkland', 98034, 'USA'],
       [83, 'Vaffeljernet', 'Palle Ibsen', 'rhus', 8200, 'Denmark'],
       [84, 'Victuailles en stock', 'Mary Saveley', 'Lyon', 69004,
        'France'],
       [85, 'Vins et alcools Chevalier', 'Paul Henriot', 'Reims', 51100,
        'France'],
       [86, 'Die Wandernde Kuh', 'Rita Müller', 'Stuttgart', 70563,
        'Germany'],
       [87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Oulu', 90110,
        'Finland'],
       [88, 'Wellington Importadora', 'Paula Parente', 'Resende', 51849,
        'Brazil'],
       [89, 'White Clover Markets', 'Karl Jablonski', 'Seattle', 98128,
        'USA'],
       [90, 'Wilman Kala', 'Matti Karttunen', 'Helsinki', 21240,
        'Finland'],
       [91, 'Wolski', 'Zbyszek', 'Walla', 56189, 'Poland']], dtype=object)

In [41]:
cus.T

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,90
CustomerID,1,2,3,4,5,6,7,8,9,10,...,82,83,84,85,86,87,88,89,90,91
Company Name,Alfreds Futterkiste,Ana Trujillo Emparedados y helados,Antonio Moreno Taqueria,Around the Horn,Berglunds snabbkp,Blauer See Delikatessen,Blondel pere et fils,BOlido Comidas preparadas,Bon app,Bottom-Dollar Marketse,...,Trails Head Gourmet Provisioners,Vaffeljernet,Victuailles en stock,Vins et alcools Chevalier,Die Wandernde Kuh,Wartian Herkku,Wellington Importadora,White Clover Markets,Wilman Kala,Wolski
Costumer Name,Maria Anders,Ana Trujillo,Antonio Moreno,Thomas Hardy,Christina Berglund,Hanna Moos,Frederique Citeaux,Martin Sommer,Laurence Lebihans,Elizabeth Lincoln,...,Helvetius Nagy,Palle Ibsen,Mary Saveley,Paul Henriot,Rita Müller,Pirkko Koskitalo,Paula Parente,Karl Jablonski,Matti Karttunen,Zbyszek
City,Berlin,Mexico D.F.,Mexico D.F.,London,Lulea,Mannheim,Strasbourg,Madrid,Marseille,Tsawassen,...,Kirkland,rhus,Lyon,Reims,Stuttgart,Oulu,Resende,Seattle,Helsinki,Walla
PostalCode,12209,5021,5023,34626,95822,68306,67000,28023,13008,254685,...,98034,8200,69004,51100,70563,90110,51849,98128,21240,56189
Country,Germany,Mexico,Mexico,UK,Sweden,Germany,France,Spain,France,Canada,...,USA,Denmark,France,France,Germany,Finland,Brazil,USA,Finland,Poland

In [42]:
cus

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico D.F.,5021,Mexico
2,3,Antonio Moreno Taqueria,Antonio Moreno,Mexico D.F.,5023,Mexico
3,4,Around the Horn,Thomas Hardy,London,34626,UK
4,5,Berglunds snabbkp,Christina Berglund,Lulea,95822,Sweden
...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Resende,51849,Brazil
88,89,White Clover Markets,Karl Jablonski,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,Walla,56189,Poland

In [47]:
cus.drop('Company Name',axis=1)

    CustomerID       Costumer Name         City  PostalCode  Country
0            1        Maria Anders       Berlin       12209  Germany
1            2        Ana Trujillo  Mexico D.F.        5021   Mexico
2            3      Antonio Moreno  Mexico D.F.        5023   Mexico
3            4        Thomas Hardy       London       34626       UK
4            5  Christina Berglund        Lulea       95822   Sweden
..         ...                 ...          ...         ...      ...
86          87    Pirkko Koskitalo         Oulu       90110  Finland
87          88       Paula Parente      Resende       51849   Brazil
88          89      Karl Jablonski      Seattle       98128      USA
89          90     Matti Karttunen     Helsinki       21240  Finland
90          91             Zbyszek        Walla       56189   Poland

[91 rows x 5 columns]

In [51]:
cus.loc[(48,78), ('Company Name','Costumer Name') ]

                    Company Name     Costumer Name
48  Magazzini Alimentari Riuniti  Giovanni Rovelli
78            Toms Spezialitaten     Karin Josephs

In [53]:
cus .loc [tuple((np.arange(48,78))), ('Company Name', 'Costumer Name')]

                    Company Name        Costumer Name
48  Magazzini Alimentari Riuniti     Giovanni Rovelli
49                  Maison Dewey      Catherine Dewey
50                Mere Paillarde       Jean Fresniere
51        Morgenstern Gesundkost      Alexander Feuer
52                   North/South       Simon Crowther
53        Oceano Atlantico Ltda.       Yvonne Moncada
54        Old World Delicatessen        Rene Phillips
55            Ottilies Kaseladen  Henriette Pfalzheim
56             Paris specialites       Marie Bertrand
57     Pericles Comidas clasicas  Guillermo Fernandez
58              Piccolo und mehr          Georg Pipps
59       Princesa Isabel Vinhoss     Isabel de Castro
60                   Que Delicia     Bernardo Batista
61                 Queen Cozinha       Lucia Carvalho
62                    QUICK-Stop          Horst Kloss
63                 Rancho grande     Sergio Gutierrez
64    Rattlesnake Canyon Grocery         Paula Wilson
65            Reggiani Caseifici      Maurizio Moroni
66            Ricardo Adocicados       Janete Limeira
67            Richter Supermarkt         Michael Holz
68              Romero y tomillo     Alejandra Camino
69                 Sante Gourmet     Jonas Bergulfsen
70            Save-a-lot Markets       Jose Pavarotti
71            Seven Seas Imports           Hari Kumar
72                 Simons bistro       Jytte Petersen
73          Specialites du monde    Dominique Perrier
74         Split Rail Beer & Ale   Art Braunschweiger
75              Supremes delices     Pascale Cartrain
76                The Big Cheese            Liz Nixon
77               The Cracker Box             Liu Wong

In [54]:
cus .loc [((np.arange(48,78))), ('Company Name', 'Costumer Name')]

                    Company Name        Costumer Name
48  Magazzini Alimentari Riuniti     Giovanni Rovelli
49                  Maison Dewey      Catherine Dewey
50                Mere Paillarde       Jean Fresniere
51        Morgenstern Gesundkost      Alexander Feuer
52                   North/South       Simon Crowther
53        Oceano Atlantico Ltda.       Yvonne Moncada
54        Old World Delicatessen        Rene Phillips
55            Ottilies Kaseladen  Henriette Pfalzheim
56             Paris specialites       Marie Bertrand
57     Pericles Comidas clasicas  Guillermo Fernandez
58              Piccolo und mehr          Georg Pipps
59       Princesa Isabel Vinhoss     Isabel de Castro
60                   Que Delicia     Bernardo Batista
61                 Queen Cozinha       Lucia Carvalho
62                    QUICK-Stop          Horst Kloss
63                 Rancho grande     Sergio Gutierrez
64    Rattlesnake Canyon Grocery         Paula Wilson
65            Reggiani Caseifici      Maurizio Moroni
66            Ricardo Adocicados       Janete Limeira
67            Richter Supermarkt         Michael Holz
68              Romero y tomillo     Alejandra Camino
69                 Sante Gourmet     Jonas Bergulfsen
70            Save-a-lot Markets       Jose Pavarotti
71            Seven Seas Imports           Hari Kumar
72                 Simons bistro       Jytte Petersen
73          Specialites du monde    Dominique Perrier
74         Split Rail Beer & Ale   Art Braunschweiger
75              Supremes delices     Pascale Cartrain
76                The Big Cheese            Liz Nixon
77               The Cracker Box             Liu Wong

In [68]:
 employees = {
    1: {"company": "Tech Solutions", "name": "Alice Johnson", "position": "Software Engineer"},
    2: {"company": "Innovate Inc.", "name": "Bob Smith", "position": "Data Scientist"},
    3: {"company": "Creative Minds", "name": "Carol White", "position": "Graphic Designer"},
    4: {"company": "BuildRight", "name": "David Brown", "position": "Project Manager"},
    5: {"company": "FinTech Co.", "name": "Emma Davis", "position": "Financial Analyst"},
    6: {"company": "HealthPlus", "name": "Frank Harris", "position": "Healthcare Consultant"},
    7: {"company": "EduCare", "name": "Grace Lewis", "position": "Curriculum Developer"},
    8: {"company": "GreenEnergy", "name": "Henry Clark", "position": "Environmental Engineer"},
    9: {"company": "SafeHome", "name": "Ivy Walker", "position": "Security Specialist"},
    10: {"company": "MarketPros", "name": "Jack Hall", "position": "Marketing Manager"},
    11: {"company": "Tech Solutions", "name": "Kathy Moore", "position": "Product Manager"},
    12: {"company": "Innovate Inc.", "name": "Larry Scott", "position": "UX Designer"},
    13: {"company": "Creative Minds", "name": "Megan Adams", "position": "Content Writer"},
    14: {"company": "BuildRight", "name": "Nate Carter", "position": "Civil Engineer"},
    15: {"company": "FinTech Co.", "name": "Olivia Mitchell", "position": "Risk Analyst"},
    16: {"company": "HealthPlus", "name": "Paul Nelson", "position": "Pharmacist"},
    17: {"company": "EduCare", "name": "Quinn Rogers", "position": "Instructional Designer"},
    18: {"company": "GreenEnergy", "name": "Rachel Stewart", "position": "Renewable Energy Analyst"},
    19: {"company": "SafeHome", "name": "Sam Turner", "position": "Network Engineer"},
    20: {"company": "MarketPros", "name": "Tina Ward", "position": "Social Media Specialist"},
    21: {"company": "Tech Solutions", "name": "Umar Young", "position": "Systems Analyst"},
    22: {"company": "Innovate Inc.", "name": "Vera King", "position": "Data Analyst"},
    23: {"company": "Creative Minds", "name": "Will Baker", "position": "Art Director"},
    24: {"company": "BuildRight", "name": "Xander Perez", "position": "Construction Manager"},
    25: {"company": "FinTech Co.", "name": "Yara Gonzalez", "position": "Investment Banker"},
    26: {"company": "HealthPlus", "name": "Zane Brooks", "position": "Health Informatics Specialist"},
    27: {"company": "EduCare", "name": "Anna James", "position": "Educational Consultant"},
    28: {"company": "GreenEnergy", "name": "Brian Lee", "position": "Energy Efficiency Expert"},
    29: {"company": "SafeHome", "name": "Clara Wright", "position": "Cybersecurity Analyst"},
    30: {"company": "MarketPros", "name": "Daniel Fisher", "position": "SEO Specialist"},
    31: {"company": "Tech Solutions", "name": "Ella Rivera", "position": "DevOps Engineer"},
    32: {"company": "Innovate Inc.", "name": "Felix Cooper", "position": "Research Scientist"},
    33: {"company": "Creative Minds", "name": "Gina Morris", "position": "Animator"},
    34: {"company": "BuildRight", "name": "Hank Rodriguez", "position": "Architect"},
    35: {"company": "FinTech Co.", "name": "Isla Watson", "position": "Compliance Officer"},
    36: {"company": "HealthPlus", "name": "Jake Bryant", "position": "Clinical Research Coordinator"},
    37: {"company": "EduCare", "name": "Kara Cox", "position": "Academic Advisor"},
    38: {"company": "GreenEnergy", "name": "Leo Campbell", "position": "Sustainability Consultant"},
    39: {"company": "SafeHome", "name": "Maya Edwards", "position": "IT Security Specialist"},
    40: {"company": "MarketPros", "name": "Nina Fox", "position": "Brand Manager"},
    41: {"company": "Tech Solutions", "name": "Oscar Green", "position": "IT Support Specialist"},
    42: {"company": "Innovate Inc.", "name": "Penny Hughes", "position": "Product Designer"},
    43: {"company": "Creative Minds", "name": "Quincy Diaz", "position": "Copywriter"},
    44: {"company": "BuildRight", "name": "Rita King", "position": "Urban Planner"},
    45: {"company": "FinTech Co.", "name": "Sean Lee", "position": "Financial Planner"},
    46: {"company": "HealthPlus", "name": "Tara Morgan", "position": "Public Health Specialist"},
    47: {"company": "EduCare", "name": "Uma Patel", "position": "Education Policy Analyst"},
    48: {"company": "GreenEnergy", "name": "Victor Ramirez", "position": "Environmental Scientist"},
    49: {"company": "SafeHome", "name": "Wendy Scott", "position": "Physical Security Specialist"},
    50: {"company": "MarketPros", "name": "Xena Taylor", "position": "Content Strategist"}
}

print(employees)

{1: {'company': 'Tech Solutions', 'name': 'Alice Johnson', 'position': 'Software Engineer'}, 2: {'company': 'Innovate Inc.', 'name': 'Bob Smith', 'position': 'Data Scientist'}, 3: {'company': 'Creative Minds', 'name': 'Carol White', 'position': 'Graphic Designer'}, 4: {'company': 'BuildRight', 'name': 'David Brown', 'position': 'Project Manager'}, 5: {'company': 'FinTech Co.', 'name': 'Emma Davis', 'position': 'Financial Analyst'}, 6: {'company': 'HealthPlus', 'name': 'Frank Harris', 'position': 'Healthcare Consultant'}, 7: {'company': 'EduCare', 'name': 'Grace Lewis', 'position': 'Curriculum Developer'}, 8: {'company': 'GreenEnergy', 'name': 'Henry Clark', 'position': 'Environmental Engineer'}, 9: {'company': 'SafeHome', 'name': 'Ivy Walker', 'position': 'Security Specialist'}, 10: {'company': 'MarketPros', 'name': 'Jack Hall', 'position': 'Marketing Manager'}, 11: {'company': 'Tech Solutions', 'name': 'Kathy Moore', 'position': 'Product Manager'}, 12: {'company': 'Innovate Inc.', 'name': 'Larry Scott', 'position': 'UX Designer'}, 13: {'company': 'Creative Minds', 'name': 'Megan Adams', 'position': 'Content Writer'}, 14: {'company': 'BuildRight', 'name': 'Nate Carter', 'position': 'Civil Engineer'}, 15: {'company': 'FinTech Co.', 'name': 'Olivia Mitchell', 'position': 'Risk Analyst'}, 16: {'company': 'HealthPlus', 'name': 'Paul Nelson', 'position': 'Pharmacist'}, 17: {'company': 'EduCare', 'name': 'Quinn Rogers', 'position': 'Instructional Designer'}, 18: {'company': 'GreenEnergy', 'name': 'Rachel Stewart', 'position': 'Renewable Energy Analyst'}, 19: {'company': 'SafeHome', 'name': 'Sam Turner', 'position': 'Network Engineer'}, 20: {'company': 'MarketPros', 'name': 'Tina Ward', 'position': 'Social Media Specialist'}, 21: {'company': 'Tech Solutions', 'name': 'Umar Young', 'position': 'Systems Analyst'}, 22: {'company': 'Innovate Inc.', 'name': 'Vera King', 'position': 'Data Analyst'}, 23: {'company': 'Creative Minds', 'name': 'Will Baker', 'position': 'Art Director'}, 24: {'company': 'BuildRight', 'name': 'Xander Perez', 'position': 'Construction Manager'}, 25: {'company': 'FinTech Co.', 'name': 'Yara Gonzalez', 'position': 'Investment Banker'}, 26: {'company': 'HealthPlus', 'name': 'Zane Brooks', 'position': 'Health Informatics Specialist'}, 27: {'company': 'EduCare', 'name': 'Anna James', 'position': 'Educational Consultant'}, 28: {'company': 'GreenEnergy', 'name': 'Brian Lee', 'position': 'Energy Efficiency Expert'}, 29: {'company': 'SafeHome', 'name': 'Clara Wright', 'position': 'Cybersecurity Analyst'}, 30: {'company': 'MarketPros', 'name': 'Daniel Fisher', 'position': 'SEO Specialist'}, 31: {'company': 'Tech Solutions', 'name': 'Ella Rivera', 'position': 'DevOps Engineer'}, 32: {'company': 'Innovate Inc.', 'name': 'Felix Cooper', 'position': 'Research Scientist'}, 33: {'company': 'Creative Minds', 'name': 'Gina Morris', 'position': 'Animator'}, 34: {'company': 'BuildRight', 'name': 'Hank Rodriguez', 'position': 'Architect'}, 35: {'company': 'FinTech Co.', 'name': 'Isla Watson', 'position': 'Compliance Officer'}, 36: {'company': 'HealthPlus', 'name': 'Jake Bryant', 'position': 'Clinical Research Coordinator'}, 37: {'company': 'EduCare', 'name': 'Kara Cox', 'position': 'Academic Advisor'}, 38: {'company': 'GreenEnergy', 'name': 'Leo Campbell', 'position': 'Sustainability Consultant'}, 39: {'company': 'SafeHome', 'name': 'Maya Edwards', 'position': 'IT Security Specialist'}, 40: {'company': 'MarketPros', 'name': 'Nina Fox', 'position': 'Brand Manager'}, 41: {'company': 'Tech Solutions', 'name': 'Oscar Green', 'position': 'IT Support Specialist'}, 42: {'company': 'Innovate Inc.', 'name': 'Penny Hughes', 'position': 'Product Designer'}, 43: {'company': 'Creative Minds', 'name': 'Quincy Diaz', 'position': 'Copywriter'}, 44: {'company': 'BuildRight', 'name': 'Rita King', 'position': 'Urban Planner'}, 45: {'company': 'FinTech Co.', 'name': 'Sean Lee', 'position': 'Financial Planner'}, 46: {'company': 'HealthPlus', 'name': 'Tara Morgan', 'position': 'Public Health Specialist'}, 47: {'company': 'EduCare', 'name': 'Uma Patel', 'position': 'Education Policy Analyst'}, 48: {'company': 'GreenEnergy', 'name': 'Victor Ramirez', 'position': 'Environmental Scientist'}, 49: {'company': 'SafeHome', 'name': 'Wendy Scott', 'position': 'Physical Security Specialist'}, 50: {'company': 'MarketPros', 'name': 'Xena Taylor', 'position': 'Content Strategist'}}

In [74]:
cd= pd.DataFrame(employees)
cd

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
company,Tech Solutions,Innovate Inc.,Creative Minds,BuildRight,FinTech Co.,HealthPlus,EduCare,GreenEnergy,SafeHome,MarketPros,...,Tech Solutions,Innovate Inc.,Creative Minds,BuildRight,FinTech Co.,HealthPlus,EduCare,GreenEnergy,SafeHome,MarketPros
name,Alice Johnson,Bob Smith,Carol White,David Brown,Emma Davis,Frank Harris,Grace Lewis,Henry Clark,Ivy Walker,Jack Hall,...,Oscar Green,Penny Hughes,Quincy Diaz,Rita King,Sean Lee,Tara Morgan,Uma Patel,Victor Ramirez,Wendy Scott,Xena Taylor
position,Software Engineer,Data Scientist,Graphic Designer,Project Manager,Financial Analyst,Healthcare Consultant,Curriculum Developer,Environmental Engineer,Security Specialist,Marketing Manager,...,IT Support Specialist,Product Designer,Copywriter,Urban Planner,Financial Planner,Public Health Specialist,Education Policy Analyst,Environmental Scientist,Physical Security Specialist,Content Strategist

In [79]:
cd.to_csv('employees.csv', index=False)

In [81]:
cd.T

           company             name                       position
1   Tech Solutions    Alice Johnson              Software Engineer
2    Innovate Inc.        Bob Smith                 Data Scientist
3   Creative Minds      Carol White               Graphic Designer
4       BuildRight      David Brown                Project Manager
5      FinTech Co.       Emma Davis              Financial Analyst
6       HealthPlus     Frank Harris          Healthcare Consultant
7          EduCare      Grace Lewis           Curriculum Developer
8      GreenEnergy      Henry Clark         Environmental Engineer
9         SafeHome       Ivy Walker            Security Specialist
10      MarketPros        Jack Hall              Marketing Manager
11  Tech Solutions      Kathy Moore                Product Manager
12   Innovate Inc.      Larry Scott                    UX Designer
13  Creative Minds      Megan Adams                 Content Writer
14      BuildRight      Nate Carter                 Civil Engineer
15     FinTech Co.  Olivia Mitchell                   Risk Analyst
16      HealthPlus      Paul Nelson                     Pharmacist
17         EduCare     Quinn Rogers         Instructional Designer
18     GreenEnergy   Rachel Stewart       Renewable Energy Analyst
19        SafeHome       Sam Turner               Network Engineer
20      MarketPros        Tina Ward        Social Media Specialist
21  Tech Solutions       Umar Young                Systems Analyst
22   Innovate Inc.        Vera King                   Data Analyst
23  Creative Minds       Will Baker                   Art Director
24      BuildRight     Xander Perez           Construction Manager
25     FinTech Co.    Yara Gonzalez              Investment Banker
26      HealthPlus      Zane Brooks  Health Informatics Specialist
27         EduCare       Anna James         Educational Consultant
28     GreenEnergy        Brian Lee       Energy Efficiency Expert
29        SafeHome     Clara Wright          Cybersecurity Analyst
30      MarketPros    Daniel Fisher                 SEO Specialist
31  Tech Solutions      Ella Rivera                DevOps Engineer
32   Innovate Inc.     Felix Cooper             Research Scientist
33  Creative Minds      Gina Morris                       Animator
34      BuildRight   Hank Rodriguez                      Architect
35     FinTech Co.      Isla Watson             Compliance Officer
36      HealthPlus      Jake Bryant  Clinical Research Coordinator
37         EduCare         Kara Cox               Academic Advisor
38     GreenEnergy     Leo Campbell      Sustainability Consultant
39        SafeHome     Maya Edwards         IT Security Specialist
40      MarketPros         Nina Fox                  Brand Manager
41  Tech Solutions      Oscar Green          IT Support Specialist
42   Innovate Inc.     Penny Hughes               Product Designer
43  Creative Minds      Quincy Diaz                     Copywriter
44      BuildRight        Rita King                  Urban Planner
45     FinTech Co.         Sean Lee              Financial Planner
46      HealthPlus      Tara Morgan       Public Health Specialist
47         EduCare        Uma Patel       Education Policy Analyst
48     GreenEnergy   Victor Ramirez        Environmental Scientist
49        SafeHome      Wendy Scott   Physical Security Specialist
50      MarketPros      Xena Taylor             Content Strategist